/**
Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)
*/

html{
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    min-height: 100vh;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle1{
position: absolute;
width: 40%;
top: -10%;
left: -10%;
}

.circle2{
position: absolute;
width: 40%;
bottom: -10%;
right: -10%;
}

.profile-card{
    width: 350px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.avatar-container{
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    display: inline-block;
    margin-top: -50px;
}

.avatar-image {
    border-radius: 50%;
}

.stats {
    border-top: 1px solid rgba(128, 128, 128, 0.238);
    display: flex;
    justify-content: space-around;
}